body {
	font-family: "Inter", sans-serif;
	font-family: "Odibee Sans", cursive;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-family: "Poppins", sans-serif;
	background: #eaeaea;
	border: 1px solid #162d04;
	text-transform: uppercase;
}
